In [36]:
import csv
import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'

file = open("Ten_Students_Scores.csv", "r")
data = list(csv.reader(file, delimiter=","))
file.close()

df = pd.read_csv('Ten_Students_Scores.csv')
df["Grade"] = " "
df["Letter Grade"] = "0"


      
for i in range(1,len(data)):
    grade=((float(data[i][3])*0.2)+(float(data[i][4])*0.2)+(float(data[i][5])*0.3)+(float(data[i][6])*0.3))
    df["Grade"][i-1] = (grade)
    if grade>=90:
        df["Letter Grade"][i-1] = "A"
    if grade>=80 and grade<90:
        df["Letter Grade"][i-1] = "B"
    if grade>=70 and grade<80:
        df["Letter Grade"][i-1] = "C"
    if grade<70 :
        df["Letter Grade"][i-1] = "D"
    
    
    

        
#print(df)
#df.to_csv('Ten_Students_Grades.CSV', header=False, index=False)

0    87.9
1    77.2
2    98.8
3    83.2
4    69.1
5    86.8
6    85.5
7    94.3
8    74.2
9    94.5
Name: Grade, dtype: object
0    B
1    C
2    A
3    B
4    D
5    B
6    B
7    A
8    C
9    A
Name: Letter Grade, dtype: object

In [2]:
import sqlite3

conn = sqlite3.connect('Student.db')
print ("Opened database successfully")

conn.execute('''CREATE TABLE Ten_Students
         (ID INT PRIMARY KEY     NOT NULL,
         First_name           TEXT    NOT NULL,
         Last_name            TEXT    NOT NULL,
         Midterm              REAL,
         Final                REAL,
         Project1             REAL,
         Project2             REAL,
         Grade                REAL,
         Letter_Grade         Text);''')
print ("Table created successfully")

conn.close()

Opened database successfully

OperationalError: table Ten_Students already exists

In [4]:
import sqlite3
import pandas as pd
### Insert Query

db = sqlite3.connect('Student.db')
cursor = db.cursor()

df = pd.read_csv('Ten_Students_Grades.csv')
query = "INSERT INTO playlists VALUES df"
for i, row in df.iterrows():
    
    query = "INSERT INTO playlists VALUES df"
cursor.execute(query)

db.commit()  
print("hi")

OperationalError: near "df": syntax error

In [ ]:
import pandas as pd
import sqlite3
db = sqlite3.connect('Student.db')
df = pd.read_sql('Select * from Ten_Students', con = db )
df